<div>
    <span>Matching view instructions</span>
    <span class="to-be-removed">Node ID: (nodeID)</span>

    <!-- Current implementation scenario (Not currently a working/implemented component): -->
    <!-- The correct combination of matches will lead to the next node. -->

    <div>
        <span>Dummy text</span>
        <select name="match1" id="match1">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>

        <span>Some strange riddle</span>
        <select name="" id="match2">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>

        <span>Spudzilla</span>
        <select name="" id="match3">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>

    <div>
        <span>Item A: Lorem ipsum dolor sit amet...</span><br>
        <span>Item B: Jibber Jabber another item cometh...</span><br>
        <span>Item C: A giant potato monster</span><br>
        <span>Item D: The strangest thing in the world</span>
    </div>
</div>
