<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Alert</h1>
    </header>
    <section id="modal-body">
        <p>
            Are you sure you want to Delete Lab
        </p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">
            Do it
        </button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            Go back
        </button>
    </footer>
</div>