html {
  background: #353535;
  zoom: 100%;
}

/*-----Major Sections-----*/
body {
  background: #282828;
  padding: 0px;
  margin: 40px;
  font-family: "Helvetica", "open-sans", tahoma, arial;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color:#fff;
}
.outer{
	text-align: center;
}
.inner{
	display: inline-block;
	padding: 30px;
}


/*Headers*/
h1 {
  margin: 25px auto 0;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
h2 {
	color: #fff;
}
h3 {
  white-space: nowrap;
	text-align: center;
	font-size: 75px;
	margin-bottom: 40px;
	padding: 30px;
}
hr.thin {
	height: 3px;
	border: 0;
	color: #333;
	background-color: #333;
	width: 80%;
}

/*Specific sections or tags*/
p {
  color: #fff;
}
.rowz{
	text-align: center;
	display:block;
}
.left {
	float: left;
	width: 47.5%;
}
.right{
	float: right;
	width: 47.5%;
}
.loggedin-div {
  height: 200px;
}
#create_user {
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#departments {
	padding: 5vh;
}
.immunhematology {
	background-color: transparent !important;
	border: 1px solid #43964D;
	padding: 50px !important;
	width: 250px !important;
}
.chemistry {
	background-color: transparent !important;
	border: 1px solid #421663;
	padding: 50px !important;
	width: 250px !important;
}
.microbiology {
	background-color: transparent !important;
	border: 1px solid #DFA801;
	padding: 50px !important;
	width: 250px !important;
}
.hematology {
	background-color: transparent !important;
	border: 1px solid #617ef2;
	padding: 50px !important;
	width: 250px !important;
}
.immunology {
	background-color: transparent !important;
	border: 1px solid #D0BFED;
	padding: 50px !important;
	width: 250px !important;
}
.urinalysis {
	background-color: transparent !important;
	border: 1px solid #f70f83;
	padding: 50px !important;
	width: 250px !important;
}
.panel {
	background-color: transparent !important;
	border: 1px solid #43964D;
	padding: 30px !important;
}
.panelex {
	background-color: transparent !important;
	border: 1px solid #43964D;
	padding: 30px !important;
}
.pq {
	background-color: transparent !important;
	border: 1px solid #43964D;
	padding: 30px !important;
}
.panel_options {
	padding: 20px;
}
#immunhematology {
	padding: 5vh;
}

/*Buttons*/
button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
input, button {
  font-family: "segoe-ui", "open-sans", tahoma, arial;
  font-weight: 700;
  color: #fff;
}
#bigbutt{
	font-size: 20px;
}
.main-div button, .loggedin-div button, .newloggedin-div button, .modal-dialog button, .outer button {
  background: #421663;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.main-div button:hover, .loggedin-div button:hover, .newloggedin-div button:hover, .modal-dialog button:hover, .outer button:hover {
  background: #a46ef0;
  color: #fff;
  cursor: pointer;
}
.modal-footer-close button:hover {
  background: tomato;
  color: #fff;
  cursor: pointer;
}
.user_div_button {
  margin-top: 20px;
  width: auto;
  height: auto;
}


/*-----Links-----*/
a {
  text-decoration: none;
  color: white;
}
a:visited{
	color: white;
}
.main-div, .loggedin-div, .newloggedin-div {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
}

.main-div input, .modal-dialog input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #282828;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.modal-content {
  background: #282828;
}
.nav{
	padding: 10px 0px;
}
.main-menu>li{
	display: inline-block;
	width: 150px;
	padding: 10px 0px;
	margin-left: 10px;
	text-align: center;
	color: white;
	font-size: 20px;
	border-left: 1px solid white;
	transition: .4s;
	cursor: pointer;
	box-sizing: border-box;
}         
.main-menu li:hover .sub-menu{
	display: block;
} 
.sub-menu{
	display: none;
	position: absolute;
	padding: 0px;
	margin-top: 30px;
	margin-left: -10px; 
	float: left;
	width: 300px; 
	text-align: left;
	box-sizing: border-box;
	border: 5px solid white;
	box-shadow: 1px 1px 1px grey;
}
.sub-menu:before{
	content:"";
	width: 0px;
	height:0px;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	border-bottom:30px solid white;
	position: absolute;
	margin:-30px 0px 0px 60px;
}
.sub-menu li{
	list-style-type: none;
	padding: 10px;
	color: #000000;
	font-size: 20px;
	background: #421663;
}
.main-menu>li:hover, .sub-menu>li:hover{
	background: #a46ef0;
}


/*Pictures*/
#wsuloginlogo {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#wsupagelogo{
	width: 100px;
	display: block;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 0px;
}