<div id="lab" class="card">
    <h1>{{ this.dummyLab.name }}</h1>
    <div *ngIf="!isBegin">
        <p>
            {{ this.dummyLab.description }}
        </p>
    
        <button (click)="handleBegin()">Begin lab</button>
    </div>
    <div class="full-view" *ngIf="isBegin">
        <quiz-view 
            [nodeData]="dummyLab.nodes[currentNode]"
            (answered) = "goNextNode($event)"
        ></quiz-view>
        <student-toolbar
            [allowNext]="disabledNext"
            (traverseIsOkay) = "this.currentNode = this.nextNode"
        ></student-toolbar>
    </div>

</div>
