<div class="card container student-lab">
    <h2>{{ labName }}</h2>
    <hr>
    <div *ngIf="!isBegin">
        <p>
            {{ labDescription }}
        </p>
    
        <button class="btn btn-primary" (click)="handleBegin()">Begin lab</button>
    </div>
    <div class="full-view" *ngIf="isBegin">
        <quiz-view 
            *ngIf="!isFinished"
            [nodeData]="nodes[currentNode]"
            (answered) = "goNextNode($event)"
        ></quiz-view>
        <!-- <matching-view>
            
        </matching-view> -->
        <!--End Card-->
        <div *ngIf="isFinished">
            Congratulations! You have finished the lab.
            <button class="btn btn-primary" routerLink="/labview">Return to labs</button>
        </div>
        <student-toolbar
            *ngIf="!isFinished"
            [isEnd]="isEnd"
            [allowNext]="disabledNext"
            [allowPrevious]="disabledPrevious"
            (traverseForwardIsOkay) = "handleTraverseForward()"
            (traverseBackwardIsOkay) = "handleTraverseBackward()"
            (traverseFinalIsOkay) = "handleLabEnd()"
        ></student-toolbar>
    </div>

</div>
