<div class='card container'>
    <div class='card-header'>
        <div class='row' id='header-div'>
            <div class='col-md-2'>Virtual Labs</div>
            <div class='col-md-4'>
              <input type='text' placeholder='search labs'/>
            </div>
            <div class='col-md-2'> <a routerLink="/adminlab">admin</a></div>
            <div class='col-md-2'>
                <button class='btn btn-primary'>
                    Add Lab</button>
            </div>
          </div>
    </div>
</div>