/* our style */
/* Colors */
.primary {
    /* background color purple    */
    color: #310f41;
  }
  
  .secondary {
    /* text/button color purple */
    color: #9800e0;
  }
  
  .red {
    /* cancel/no/delete  */
    color: #f20a0a;
  }
  
  .background {
    /* page background grey*/
    color: #e5e5e5;
  }
  
  .menubar {
    /* light grey used in menu  */
    color: #c4c4c4;
  }
  
  .white {
    /* regular white color  */
    color: #fffdfd;
  }
  
  .black {
    /* black */
    color: #000000;
  }
  
  .numbered_button {
    /* grey color of the text of question # button */
    color: #7b7b7b;
  }
  
  .green {
    /* used for catagory and for correct text  */
    color: #28df24;
  }
  
  /* Font Size */
  
  .xxsmall-text {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
  }
  
  .xsmall-text {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
  }
  
  .small-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
  }
  
  .medium-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
  }
  
  .large-text {
    font-family: Robot;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
  }
  
  .xlarge-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 77px;
    line-height: 87px;
  }
  
  /* buttons */
  
  .small-button {
    position: absolute;
    width: 77px;
    height: 38px;
    left: 398px;
    top: 606px;
    border-radius: 20px;
  }
  
  .number-button {
    position: absolute;
    width: 60px;
    height: 74px;
    left: 487px;
    top: 722px;
    border-radius: 10px;
  }
  
  .large-button {
    position: absolute;
    width: 217px;
    height: 74px;
    left: 1121px;
    top: 722px;
    border-radius: 20px;
  }
  
  .add-button {
    position: absolute;
    width: 48px;
    height: 41px;
    left: 164.83px;
    top: 483px;
    background: #fffdfd;
    border-radius: 10px;
  }
  
  /* text field  */
  
  .text-field {
    position: absolute;
    width: 257px;
    height: 83px;
    left: 93px;
    top: 259px;
    border-radius: 20px;
  }
  
  .notification-box {
    position: absolute;
    width: 1192px;
    height: 38px;
    left: 132px;
    top: 833px;
    border-radius: 20px;
  }
  
  .catagory-red-bullet {
    position: absolute;
    width: 33.81px;
    height: 34px;
    left: 547px;
    top: 630px;
    background: #ff0000;
  }
  
  .catagory-green-bullet {
    position: absolute;
    width: 33.81px;
    height: 34px;
    left: 547px;
    top: 676px;
    background: #28df24;
  }
  
  .catagory-yellow-bullet {
    position: absolute;
    width: 33.81px;
    height: 34px;
    left: 547px;
    top: 730px;
    background: #e4dc09;
  }
  
  .catagory-bullet {
    position: absolute;
    width: 33.81px;
    height: 34px;
    left: 547px;
    top: 730px;
  }
  
  /* profile shape */
  .profile-circle {
    position: absolute;
    width: 135px;
    height: 130px;
    left: 40px;
    top: 56px;
    background: #fffdfd;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  