<div class="container">
    <div class="row">
        <div class='col-md-4'><h3>{{labName}} </h3></div>
      
        <div class='col-md-2'>
            <button (click)="labDetails()" class='btn btn-primary'>lab details</button>
        </div>
        <div class='col-md-2'>
            <button (click) = "saveLab()" class='btn btn-primary' >Save Lab</button>
        </div>
        <div class='col-md-2'>
            <button (click) = "deleteLab()" class='btn btn-primary'>Delete Lab</button>
        </div>
        <div class='col-md-2'>
            <button (click) = "backButton()" class='btn btn-primary'>Back</button>
        </div>
    </div>
</div>
