<div class="card">
    <h1>Node name/number</h1>

    <div class="card">
        <h2>Behavior</h2>
        <form action="">
            <select name="" id="">
                <option *ngFor="let behavior of nodeBehaviors" value={{behavior}}>{{ behavior }}</option>
            </select>
        </form>
    </div>
    <!--This is where the appropriate behavior node will be loaded-->
    <!-- call fetchBehaviorNode to load it -->
    <app-behavior-node></app-behavior-node>
    <div class="card">
        <h2>Outgoing nodes:</h2>
        <!--Populate with list of outgoing nodes-->
    </div>
</div>