<!-- <ul>
    <li><h3>{{labName}} lab Name: </h3></li>
    <li>  <button (click)="labDetails()" class='btn btn-primary'>lab details</button> </li>
    <li>  <button (click) = "saveLab()" class='btn btn-primary' >Save Lab</button> </li>
    <li>  <button (click) = "deleteLab()" class='btn btn-primary'>Delete Lab</button> </li>
    <li>  <button (click) = "backButton()" class='btn btn-primary'>Back</button> </li>
</ul> -->

<div class="container card">
    <div class="navigation">
        <h3>{{labName}} </h3>
        <button (click)="labDetails()" class='btn btn-primary'>lab details</button>
        <button (click) = "saveLab()" class='btn btn-primary' >Save Lab</button>
        <button (click) = "deleteLab()" class='btn btn-primary'>Delete Lab</button>
        <button (click) = "backButton()" class='btn btn-primary'>Back</button>
    </div>
    <pm-analytics></pm-analytics>
        <div class="row">
            <div class="col-md-6">
                <div *ngIf="isNewNode">
                    <div>
                        <label class="node-major-label" for="nodename">Enter Node name</label>
                        <input maxlength="15"
                               [(ngModel)]="nodeName"
                               type='text'
                               id="nodename"
                               placeholder='New Node Name' />
                        <button class='btn btn-primary'
                                (click)="addNewNode()">Add New Node</button>
                    </div>
                    <pm-nodelist (nodeIdEvent) =  "nodeIdMessage($event)"></pm-nodelist>
                </div>
                <div *ngIf="!isNewNode">
                    <div class="node-row">
                        <div class="node-column">
                            <!-- <h3>Node Name: {{nodeName}}</h3> -->
                            <label class="node-major-label" for="nodeNameEdit">Node Name:</label>
                            <input maxlength="15"
                                    type='text'
                                    id="nodeNameEdit"
                                    value="(load current name)">
                        </div>
                        <button class="btn btn-primary"
                                    (click)="saveNode()">Save Node</button>
                    </div>
                    <tree-node></tree-node>
                </div>
            </div>
            <div class="col-md-6">
                <pm-admintreepane></pm-admintreepane>
            </div>
        </div>
    
</div>

<!-- example:
<div *ngFor="let user of reply">
        
    <h4 class="card-title">{{ user.title | uppercase}}</h4>
    <small> <strong>Name: </strong> {{ user.name }}</small>
    <p>{{ user.body }}</p>

</div>

<p>{{reply}}</p> -->
