
  
<div class='container card lab-list'>
    <div class='navigation' *ngIf ='isAdmin == 1'>
        <label for="searchlab">Search Labs</label>
        <input id="searchlab" type='text' placeholder='search labs'/>
        <label *ngIf='!invalidInput' for="labname">Enter Lab name</label>
        <label *ngIf='invalidInput'style="color:red; ">Invalin input try again</label>
        <input maxlength="15" [(ngModel)] ="labName"  type='text'  id="labnameinput" placeholder='New Lab Name'/>
        <button (click) = "addNewLab()"class='btn btn-primary'>Add New Lab</button>
        

    </div>
    <div class='navigation' *ngIf ='isAdmin == 0'>
        <label style="float: right;"   for="searchlab">Search Labs</label>
        <input id="searchlab" type='text' placeholder='search labs'/>
    </div>
    <div class='table-responsive'>
        <table class='table'*ngIf='ilabs'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Lab Name</th>
                <th>Description</th>
                <th>Published</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody *ngIf = 'isAdmin == 1'>
            <tr *ngFor='let lab of ilabs'>
                <td>{{ lab.labId}}</td>
                <td> <a [routerLink] = "['/adminlab', lab.labId, lab.name]">{{ lab.labName }}</a></td>
                <td>{{ lab.labDescription }}</td>
                <td>{{ lab.publishDate}}</td>
                <td>{{ lab.course }}</td>
            </tr>
        </tbody>

        <tbody *ngIf = 'isAdmin == 0'> 
            <tr *ngFor='let lab of ilabs'>
                <td>{{ lab.labId}}</td>
                <td> <a [routerLink] = "['/studentlab']">{{ lab.labName }}</a></td>
                <td>{{ lab.labDescription }}</td>
                <td>{{ lab.publishDate}}</td>
                <td>{{ lab.course }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>