
<div class='card container'>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'*ngIf='labs && labs.length'>
            <thead>
                <tr>
                    <th>Lab Name</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th>class</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let lab of labs'>
            

                    
                    <td>{{ lab.labname }}</td>
                    <td>{{ lab.description }}</td>
                    <td>{{ lab.size }}</td>
                    <td>{{ lab.date }}</td>
                    <td>{{ lab.class }}</td>

                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>