<!--The content below is only a placeholder and can be replaced.-->
<div class = "page-header">
  <div class="container">
    <h1>{{pageTitle}}</h1>
    <nav class="main-nav">
      <ul>
        <li>
          <a routerLink="/adminlab">admin</a>
        </li>
        <li>
          <a routerLink="/labview">labview</a>
        </li>
        <li>
          <a routerLink="/studentlab">StudentLab (Demo)</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
<pm-messages></pm-messages>
