<div class='card container'>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'*ngIf='nodes && nodes.length'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
               
                 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let node of nodes'>
            

                    <td>{{ node.nodeid}}</td>
                    <td>{{ node.name }}</td>
                    <td>{{ node.description }}</td>
                    <td> <button (click) = "editNode()" class="btn btn-primary"> Edit </button></td>
                   
                  

                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>