/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/* Styles as defined by quiz cleanup group -- modified/expanded for our use */
.red {
  /* cancel/no/delete  */
  color: #f20a0a;
}

.container-bg{
  /* page background grey*/
  background-color: #e5e5e5;
}

.menubar {
  /* light grey used in menu  */
  color: #c4c4c4;
}

.white {
  /* regular white color  */
  color: #fffdfd;
}

.numbered_button {
  /* grey color of the text of question # button */
  color: #7b7b7b;
}

.green {
  /* used for catagory and for correct text  */
  color: #28df24;
}



/*********************************/

/* Additional virtual lab styles */
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: #FFF;
  background: #310f41;
}

a {
  color: #9800e0;
}

.main-component {
  background: gray;
}

.page-header {
  flex: 1;
  margin-bottom: 30px;
  color: #9800e0;
  background: black;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav li {
  display: inherit;
  list-style: none;
  margin-right: 2px;
  border-left: #9800e0 solid 1px;
  border-radius: 10px 0 10px 0;
}

.main-nav li:last-of-type {
  margin-right: 0;
  border-right: none;
}

.main-nav a {
  flex: 1;
  justify-content: center;
  padding: 10px;
  color: rgb(202, 98, 250);
  text-decoration: none;
  border-radius: 10px 10px 0 0;
}

.main-nav a:hover {
  color: #FFF;
  background-color:  #310f41;
}

.container {
  color: #FFF;
  background: none;
}

.toolbar, .navigation, .lab-list, .table {
  color: #FFF;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  border: none;
  background-color: #9800e0;
}

.btn-primary:hover {
  color: #310f41;
  background-color: #FFF;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #9800e0;
  }

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

.lab {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #000;
}

.to-be-removed {
  color: #FF0;
}