<div class='container lab-list'>
    <div class='table-responsive'>
        <table class='table'*ngIf='labs'>
        <thead>
            <tr>
                <th>Lab Name</th>
                <th>Description</th>
                <th>Published</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let lab of labs'>
                <td> <a [routerLink] = "['/adminlab', '1', 'lab1']">{{ lab.name }}</a></td>
                <td>{{ lab.description }}</td>
                <td>{{ lab.publishDate }}</td>
                <!-- <td>{{ lab.course }}</td> -->
            </tr>
        </tbody>
        </table>
    </div>
</div>