
<div class='card container'>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'*ngIf='labs && labs.length'>
            <thead>
                <tr>
                    <th>Lab Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>class</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let lab of labs'>
            

                    
                    <td>{{ lab.labName }}</td>
                    <td>{{ lab.labDescription }}</td>
                    <td>{{ lab.publishDate }}</td>
                    <td>{{ lab.date }}</td>
                    <td>{{ lab.course }}</td>
                    <td><a href="google.com">link</a></td>

                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>